{% load i18n %}

{% block content %}
    <form method="POST" action="{% url "view_my_profile" %}" class="Form Form--padded">
        <input type="hidden" name="action" value="edit_profile_password">
        {% csrf_token %}
        <fieldset class="Form-fieldGroup">
            <legend class="Form-groupHeading">Password</legend>

            {% if profile_password_change_form.errors %}
                <p class="error errorlist">
                    {% for key, errors in profile_password_change_form.errors.iteritems %}
                        {% for error in errors %}
                            {% trans error %}<br/>
                        {% endfor %}
                    {% endfor %}
                </p>
            {% endif %}

            <div class="Form-field">
                <label for="pword" class="Form-fieldLabel">{{ profile_password_change_form.old_password.label }}</label>
                {{ profile_password_change_form.old_password }}
                {{ profile_password_change_form.old_password.errors }}
            </div>

            <div class="Form-field">
                <label for="pword" class="Form-fieldLabel">{{ profile_password_change_form.new_password.label }}</label>
                {{ profile_password_change_form.new_password }}
                {{ profile_password_change_form.new_password.errors }}
            </div>

            <div class="Form-field">
                <label for="pword"
                       class="Form-fieldLabel">{{ profile_password_change_form.confirm_password.label }}</label>
                {{ profile_password_change_form.confirm_password }}
                {{ profile_password_change_form.confirm_password.errors }}
            </div>
        </fieldset>
        {% if edit == "edit-password" %}
            <input class="Button" type="submit" value="{% trans "Save" %}">
        {% endif %}
        <br>
    </form>
{% endblock %}
