{% load i18n %}

{% block content %}
    <div class="profiles">
        <form method="POST" action="{% url "view_my_profile" %}" class="profiles__profile_password_change_form">
            <input type="hidden" name="action" value="edit_profile_password">
            {% csrf_token %}
            <ul class="ListViewProfile">

                {% if profile_password_change_profile_password_change_form.errors or profile_password_change_profile_password_change_form.non_field_errors %}
                    {% if profile_password_change_profile_password_change_form.non_field_errors %}
                        {% for error in profile_password_change_profile_password_change_form.non_field_errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                {% endif %}

                {% if messages %}
                    <ul class="error-list">
                        {% for message in messages %}
                            <li class="error-list__item error">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <li class="ListItemWrapper">
                    <div class="ListItem ListItem--rightIcon ">
                        {{ profile_password_change_form.old_password.label_tag }}
                        {{ profile_password_change_form.old_password }}
                        {{ profile_password_change_form.old_password.errors }}
                    </div>
                </li>

                <li class="ListItemWrapper">
                    <div class="ListItem ListItem--rightIcon ">
                        {{ profile_password_change_form.new_password.label_tag }}
                        {{ profile_password_change_form.new_password }}
                        {{ profile_password_change_form.new_password.errors }}
                    </div>
                </li>

                <li class="ListItemWrapper">
                    <div class="ListItem ListItem--rightIcon ">
                        {{ profile_password_change_form.confirm_password.label_tag }}
                        {{ profile_password_change_form.confirm_password }}
                        {{ profile_password_change_form.confirm_password.errors }}
                    </div>
                </li>
            </ul>
            <input type="submit" value="{% trans "Save" %}">
        </form>
    </div>
{% endblock %}
