{% load i18n wagtailsettings_tags %}
{% get_settings %}

{% block content %}
    <div class="profiles">
        <form method="POST" action="{% url "view_my_profile" %}" class="profiles__form">
            <input type="hidden" name="action" value="edit_profile_settings">
            {% csrf_token %}
            {% if form.errors %}
                <p class="error errorlist">
                    {% for key, errors in form.errors.iteritems %}
                        {% for error in errors %}
                            {% trans error %}<br/>
                        {% endfor %}
                    {% endfor %}
                </p>
            {% endif %}
            <ul class="ListViewProfile">
                <li class="ListItemWrapper">
                    <div class="ListItem ListItem--rightIcon ">
                        {{ settings_form.first_name.label_tag }}
                        {{ settings_form.first_name }}
                        {{ settings_form.first_name.errors }}
                        <p class="profile__last-name">{{ user.first_name | default:"Anonymous" }}</p>
                    </div>
                </li>
                <li class="ListItemWrapper">
                    <div class="ListItem ListItem--rightIcon ">
                        {{ settings_form.last_name.label_tag }}
                        {{ settings_form.last_name }}
                        {{ settings_form.last_name.errors }}
                        <p class="profile__last-name">{{ user.last_name | default:"Anonymous" }}</p>
                    </div>
                </li>
                <li class="ListItemWrapper">
                    <div class="ListItem ListItem--rightIcon ">
                        {{ settings_form.username.label_tag }}
                        {{ settings_form.username }}
                        {{ settings_form.username.errors }}
                        <p class="profile__last-name">{{ user.username | default:"Anonymous" }}</p>
                    </div>
                </li>
            </ul>
            <input type="submit" class="PillButton PillButton--orange" value="{% trans "Update Profile" %}">
        </form>
    </div>
{% endblock %}
