{% load i18n wagtailsettings_tags %}
{% get_settings %}

{% block content %}
    <div class="profiles">
        <form method="POST" action="{% url "view_my_profile" %}" class="profiles__form">
            <input type="hidden" name="action" value="edit_profile_settings">
            {% csrf_token %}

            {% if settings_form.errors or settings_form.non_field_errors %}
                {% if settings_form.non_field_errors %}
                    {% for error in settings_form.non_field_errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            {% endif %}
            {% if messages %}
                <ul class="error-list">
                    {% for message in messages %}
                        <li class="error-list__item error">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {{ settings_form.first_name.label_tag }}
            {{ settings_form.first_name }}
            {{ settings_form.first_name.errors }}
            <p class="profile__last-name">{{ user.first_name | default:"Anonymous" }}</p>

            {{ settings_form.last_name.label_tag }}
            {{ settings_form.last_name }}
            {{ settings_form.last_name.errors }}
            <p class="profile__last-name">{{ user.last_name | default:"Anonymous" }}</p>

            {{ settings_form.username.label_tag }}
            {{ settings_form.username }}
            {{ settings_form.username.errors }}
            <p class="profile__last-name">{{ user.username | default:"Anonymous" }}</p>
            <input type="submit" class="PillButton PillButton--orange" value="{% trans "Update Profile" %}">
        </form>
    </div>
{% endblock %}
