{% extends "base.html" %}
{% load static i18n %}

{% block content %}
    <section action="" class="Splash">
        <div class="Splash-header">
            <img src="{% static 'images/logo.png' %}" alt="NurseConnect Logo" class="Logo-graphic">
        </div>
        <div class="Splash-body">
            <h1 class="Splash-headline">{% trans "Forgot password" %}</h1>
        </div>
        <div class="Splash-body">
            <form method="POST" class="Form" action="{% url "molo.profiles:forgot_password" %}">
                {% csrf_token %}

                {% if form.errors %}
                    <p class="error errorlist">
                        {% for key, errors in form.errors.iteritems %}
                            {% for error in errors %}
                                {% trans error %}<br/>
                            {% endfor %}
                        {% endfor %}
                    </p>
                {% endif %}
                {{ form.non_field_errors }}
                <fieldset class="Form-fieldGroup">
                    <legend class="Form-groupHeading">Personal Information</legend>
                    <div class="Form-field Form-field--required">
                        <label for="mobilenum" class="Form-fieldLabel">{{ form.username.label }}</label>
                        {{ form.username }}
                        {{ form.username.errors }}
                    </div>

                </fieldset>
                <fieldset class="Form-fieldGroup">
                    <legend class="Form-groupHeading">Security questions</legend>
                    {% if settings.profiles.UserProfilesSettings.show_security_question_fields %}
                        {% for field in form %}
                            {% if field in form.security_questions %}
                                <div class="Form-field Form-field--required">
                                    <label for="sq{{ forloop.counter }}"
                                           class="Form-fieldLabel">{{ field.label }}</label>
                                    {{ field }}
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </fieldset>
                <div class="Splash-actions">
                    <ul class="ButtonGroup">
                        <li class="ButtonGroup-item">
                            <input type="submit" class="Button" value="{% trans "Change password" %}"/>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
