{% extends "base.html" %}
{% load i18n static core_tags wagtailcore_tags wagtailsettings_tags %}
{% get_settings %}

{% block content %}
    <h1 class="heading heading--profiles">{% trans "Welcome. Let's get you signed up." %}</h1>

    <h4 class="heading heading--subtitle">
        {% trans "Personal Information" %}<br/>
    </h4>
    <div class="profiles">
        <form method="post" action="{% url "molo.profiles:user_register" %}" class="profiles__form">
            {% csrf_token %}
            <div class="FormGroup FormGroup--padded">
                <div class="FormField FormField--center FormField--bordered">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
                {{ form.non_field_errors }}
                <div class="FormField FormField--center FormField--bordered">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>
                <div class="FormField FormField--center FormField--bordered">
                    {{ form.confirm_password.label_tag }}
                    {{ form.confirm_password }}
                    {{ form.confirm_password.errors }}
                </div>
                <a href="/footer-pages/terms/">
                    <label class="FormField FormField--center FormField--bordered" for="btn1">Accept the Terms of Use</label>
                </a>
                <div class="FormField FormField--center FormField--bordered">
                    {{ form.terms_and_conditions }}
                    {{ form.terms_and_conditions.errors }}
                </div>

                <input class="PillButton PillButton--orange" type="submit" value="{% trans "Register" %}"/>
                <input type="hidden" name="next" value="{% url "home" %}"/>
            </div>
        </form>
    </div>
{% endblock %}
