{% extends "base.html" %}
{% load static i18n %}

{% block content %}

    <section action="" class="Splash">
        <div class="Splash-header">
            <img src="{% static 'images/logo.png' %}" alt="NurseConnect Logo" class="Logo-graphic">
        </div>
        <div class="Splash-body">
            <h1 class="Splash-headline">{% trans "Reset password" %}</h1>
        </div>
        <div class="Splash-body">
            <form method="POST" class="Form">
                {% csrf_token %}
                <fieldset class="Form-fieldGroup">
                    {% if form.errors %}
                        <p class="error errorlist">
                            {% for key, errors in form.errors.iteritems %}
                                {% for error in errors %}
                                    {% trans error %}<br/>
                                {% endfor %}
                            {% endfor %}
                        </p>
                    {% endif %}

                    {{ form.username }}
                    {{ form.token }}
                    <div class="Form-field Form-field--required">
                        <label for="pword" class="Form-fieldLabel">{{ form.password.label }}</label>
                        {{ form.password }}
                    </div>

                    <div class="Form-field Form-field--required">
                        <label for="pwordconf" class="Form-fieldLabel">{{ form.confirm_password.label }}</label>
                        {{ form.confirm_password }}
                    </div>
                </fieldset>
                <div class="Splash-actions">
                    <ul class="ButtonGroup">
                        <li class="ButtonGroup-item">
                            <input type="submit" class="Button" value="{% trans "Reset password" %}"/>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
