{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="default-container">
        <div class="title">
            <h3>{% trans "Reset password" %}</h3>
        </div>
        <div class="block">
            <form method="post">
                {% csrf_token %}

                {% if form.errors %}
                    <p class="error errorlist">
                        {% for key, errors in form.errors.iteritems %}
                            {% for error in errors %}
                                {% trans error %}<br/>
                            {% endfor %}
                        {% endfor %}
                    </p>
                {% endif %}

                {{ form.username }}
                {{ form.token }}

                <p><strong>{% trans "Password" %}</strong></p>
                {{ form.password }}

                <p><strong>{% trans "Confirm password" %}</strong></p>
                {{ form.confirm_password }}

                <br>
                <input type="submit" value='{% trans "Reset password" %}'/>
            </form>
        </div>
    </div>
{% endblock %}
