{% extends "base.html" %}
{% load static i18n %}

{% block content %}
    <section action="" class="Splash">
        <div class="Splash-header">
            <img src="{% static 'images/logo.png' %}" alt="NurseConnect Logo" class="Logo-graphic">
        </div>
        <legend class="Form-groupHeading">{% trans "Password Changed" %}</legend>

        <p>{% trans "Your password has been changed sucessfully." %}</p>
        <div class="Splash-actions">
            <ul class="ButtonGroup">
                <li class="ButtonGroup-item">
                    <a href="{% url "auth_login" %}" class="Button">{% trans "Continue to Sign In" %}</a>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}
