{% extends "base.html" %}
{% load i18n wagtailsettings_tags %}
{% get_settings %}

{% block content %}
    {% if success_message %}
        <h2 class="ListTitle-name"> {{ success_message }}</h2>
    {% endif %}
    <a href="{% url "edit_my_profile" "edit-settings" %}" name="edit">{% trans "Edit" %}</a>
    {% include "profiles/editprofile.html" %}

    <a href="{% url "edit_my_profile" "edit-password" %}"
       class="call-to-action__nav-item call-to-action__nav-item--change-password" name="edit">{% trans "Edit" %}</a>
    {% include "profiles/change_password.html" %}
    <a href="{% url "molo.profiles:auth_logout" %}"
       class="Button">{% trans "log out" %}</a>
{% endblock %}