// ==========================================
// ** Colors
// ==========================================
//    Colors should be added to the color map
//    and then assigned to variables.
//
//    This allows for SassScript commands to
//    iterate over the color map.
//
//    Color hex values should be passed through
//    http://www.color-blindness.com/color-name-hue/
//    and a unique name given to each.
//
//    Colors such as 'grey-medium' or 'red-dark'
//    are discouraged, as they get out of hand very quickly.
//
//    Use the 'color' function to grab the hex from
//    the map.

//color Variables
$color-blue-tranquil: #dae8eb;        // background 1st lvl
$color-blue-spindle: #c0d6dd;         // background 2nd lvl
$color-white: #ffffff;                // background 3rd lvl, btn text
$color-blue-pelorous: #2d9ec5;        // links, interactive color, h2,buttons
$color-orange-bittersweet: #ff6655;   // 1st lvl: h1,qoutes,section catagories/tags, first level icons
$color-blue-regal: #213d55;           // 2nd lvl: inactive state, secondary icons, p
$color-grey-light-slate: #7e93a0;     // 3rd lvl: == 50% opacity of blue-regal, descriptive text, radio labels, nested background state


// Base Font
//$base-font-weight: $regular;
$base-font-size: 16px;
$base-line-height: 1.2em;

//TODO: refactor after adding proper fonts;
$sans-serif: Helvetica, Arial, sans-serif;
$font-light: ("light", unquote("#{$sans-serif}"));
$font-regular: ("regular", unquote("#{$sans-serif}"));
$font-medium: ("medium", unquote("#{$sans-serif}"));
$font-bold: ("bold", unquote("#{$sans-serif}"));

// Headings
//$header-font-weight: $bold;

// Layout:
$global-border-box: true;
$global-padding: 24px;


//breakpoints
$bp-smart: 20em;
$bp-phablet: 30em;
$bp-tablet: 48em;
$bp-desktop: 62em;
$bp-large: 75em;
$bp-xlarge: 120em; // Over 1920px
$bp-xxlarge: 160em; // 2580px
$bp-fourk: 210em; // 3360k
$bp-site-static: 90.0625em;

@import "modules/all";
