.Footer {
    font-size: .8rem;
    padding-left: $global-padding;
    padding-right: $global-padding;
    padding-bottom: 1rem;
    border-top: 1px solid $color-blue-tranquil;
    background-color: $color-white;

    &-link {
        color: $color-grey-light-slate;
        border-bottom: 1px solid $color-grey-light-slate;
    }

    &-paragraph {
        color: $color-grey-light-slate;
        &:first-child {
            margin-bottom: .5rem;
        }

        &:last-child {
            margin-top: .5rem;
            margin-bottom: 0;
        }
    }

}
