{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static core_tags i18n %}

{% block content %}
    <div class="HeroTout">
        <h1 class="HeroTout-headline">
            {% trans "Share your " %} </br> {% trans "story" %}
        </h1>
    </div>
    <section class="Paper">
        <article class="Paper-body">
            <header class="Paper-header">
                <h1 class="Paper-headline">{{ competition.title }}</h1>
                <p class="Paper-lead">{{ competition.description }}</p>
                {% if competition.image %}
                    <div class="Paper-graphic">{% image competition.image max-500x150 %}</div>
                {% endif %}
            </header>
            <div class="Paper-copy">
                {% for block in competition.content %}
                    {% if block.block_type == "heading" %}
                        <h2>{{ block.value }}</h2>
                    {% elif block.block_type == "image" %}
                        <figure>
                            {% image block.value width-240 %}
                        </figure>
                    {% elif block.block_type == "numbered_list" %}
                        <ul>
                            {% for item in block.value %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    {% elif block.block_type == "list" %}
                        <ul>
                            {% for item in block.value %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {{ block }}
                    {% endif %}
                {% endfor %}
            </div>
        </article>
    </section>
    <div class="Splash-body">
        <form method="POST" class="Form">
            {% csrf_token %}
            <fieldset class="Form-fieldGroup">

                {% if form.story_name.errors %}
                    <p class="alert-error">* {{ form.story_name.errors|join:" "}}</p>
                {% endif %}
                <div class="Form-field Form-field--required">
                    <label class="Form-fieldLabel">{% trans "Title of your story" %}</label><br/>
                    <input name="story_name" id="story_name" class="Form-input" placeholder="Title">
                </div>

                {% if form.story_text.errors %}
                    <p class="alert-error">* {{ form.story_text.errors|join:" "}}</p>
                {% endif %}
                <div class="Form-field Form-field--required">
                    <label class="Form-fieldLabel">{% trans "Tell us your story here" %}</label>
                    <textarea name="story_text" id="story_text" class="Comments-field"></textarea>
                </div>

                {% if form.terms_or_conditions_approved.errors %}
                    <p class="alert-error">* {{ form.terms_or_conditions_approved.errors|join:" "}}</p>
                {% endif %}
                <div class="Form-field Form-field--required">
                    <label for="checkbox1" class="Form-choiceLabel Form-choiceLabel--checkbox">
                        {% trans "I accept the terms of use." %}
                    </label>
                    {#                    <input type="checkbox" name="terms_or_conditions_approved" id="checkbox1"#}
                    {#                           class="Form-choiceInput">#}
                    {{ form.terms_or_conditions_approved }}
                </div>
                <div class="Form-field Form-field--required">
                    {#                        <input type="checkbox" name="hide_real_name" id="checkbox1"#}
                    {#                               class="Form-choiceInput">#}
                    <label for="checkbox1" class="Form-choiceLabel ">
                        {% trans "Share my story anonymously" %}
                    </label>
                    {{ form.hide_real_name }}
                </div>
            </fieldset>

            <div class="Splash-actions">
                <ul class="ButtonGroup">
                    <li class="ButtonGroup-item">
                        <input type="submit" class="Button" value="{% trans "Submit Your Story" %}"/>
                    </li>
                </ul>
            </div>
        </form>
    </div>
{% endblock %}
