
@mixin no-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
