// ==========================================
// ** Colors
// ==========================================
//    Colors should be added to the color map
//    and then assigned to variables.
//
//    This allows for SassScript commands to
//    iterate over the color map.
//
//    Color hex values should be passed through
//    http://www.color-blindness.com/color-name-hue/
//    and a unique name given to each.
//
//    Colors such as 'grey-medium' or 'red-dark'
//    are discouraged, as they get out of hand very quickly.
//
//    Use the 'color' function to grab the hex from
//    the map.

$colors: (
    greyscale: (
        white: #ffffff,
        black: #000000,
        grey: #666666,
        grey-light-slate: #7e93a0,
        grey-nero: #232323
    ),
    brand: (
        blue-tranquil: #dae8eb,
        blue-spindle: #c0d6dd,
        blue-pelorous: #2d9ec5,
        blue-regal: #213d55,
        orange-bittersweet: #ff6655
    ),
    secondary: (
        error: #ff2929
    )
);

//color Variables
$color-blue-tranquil: color(brand, blue-tranquil);        // background 1st lvl
$color-blue-spindle: color(brand, blue-spindle);         // background 2nd lvl
$color-white: color(greyscale, white);                // background 3rd lvl, btn text
$color-blue-pelorous: color(brand, blue-pelorous);        // links, interactive color, h2,buttons
$color-orange-bittersweet: color(brand, orange-bittersweet);   // 1st lvl: h1,qoutes,section catagories/tags, first level icons
$color-blue-regal: color(brand, blue-regal);           // 2nd lvl: inactive state, secondary icons, p
$color-grey-light-slate: color(greyscale, grey-light-slate);     // 3rd lvl: == 50% opacity of blue-regal, descriptive text, radio labels, nested background state
$color-grey: color(greyscale, grey);
$color-black: color(greyscale, black);
$color-grey-nero: color(greyscale, grey-nero);
$color-secondary-error: color(secondary, error);


// Base Font
//$base-font-weight: $regular;
$base-font-size: 16px;
$base-line-height: 1.5;

//TODO: refactor after adding proper fonts;
$font-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;

$fonts: (
    system: (
        unquote("sans-serif"),
        unquote("Helvetica, Arial, sans-serif")
    )
);

// Headings
//$header-font-weight: $bold;

// Layout:
$global-border-box: true;

$scale: (
    alpha: 8,
    beta: 16,
    gamma: 24,
    delta: 32,
    eta: 40,
    zeta: 48,
    omega: 56
);

$global-padding: scale(gamma);


//breakpoints
$bp-smart: 20em;
$bp-phablet: 30em;
$bp-tablet: 48em;
$bp-desktop: 62em;
$bp-large: 75em;
$bp-xlarge: 120em; // Over 1920px
$bp-xxlarge: 160em; // 2580px
$bp-fourk: 210em; // 3360k
$bp-site-static: 90.0625em;
