{% extends "base.html" %}

{% load static core_tags i18n %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load comments mptt_tags molo_commenting_tags %}
{% load nurseconnect_tags %}


{% block content %}
    <section class="Paper">
        <article class="Paper-body">
            <header class="Paper-header">
                {% if self.image %}
                    <div class="Paper-graphic">{% image self.image max-500x150 %}</div>
                {% endif %}
                <time class="Paper-dateline"
                      datetime="{{ self.articlepage.first_published_at.year }}-{{ self.articlepage.first_published_at.month }}-{{ self.articlepage.first_published_at.day }}"
                      pubdate
                      title="{% convert_month self.articlepage.first_published_at.month %} {{ self.articlepage.first_published_at.day }}, {{ self.articlepage.first_published_at.year }}">
                    {% convert_month self.articlepage.first_published_at.month %}
                    {{ self.articlepage.first_published_at.day }}
                    {{ self.articlepage.first_published_at.year }}
                </time>
                <h1 class="Paper-headline">{{ self.title }}</h1>
                <span class="Paper-byline">by <a href="#" class="Paper-bylineAuthor" rel="author">
                    {{ self.articlepage.owner.first_name }}
                    {{ self.articlepage.owner.last_name }}
                </a></span>
                <p class="Paper-lead">{{ self.subtitle }}</p>
                {% get_comment_count for self as comment_count %}
                {{ comment_count }}
            </header>
            <div class="Paper-copy">
                {% for block in self.body %}
                    {% if block.block_type == "heading" %}
                        <h2>{{ block.value }}</h2>
                    {% elif block.block_type == "image" %}
                        {% if block.value %}
                            <figure>
                                {% image block.value max-500x150 %}
                                <figcaption>{{ block.value.title }}</figcaption>
                            </figure>
                        {% endif %}
                    {% elif block.block_type == "numbered_list" %}
                        {% if block.value %}
                            <ul>
                                {% for item in block.value %}
                                    <li>{{ item|handle_markdown }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% elif block.block_type == "list" %}
                        {% if block.value %}
                            <ul>
                                {% for item in block.value %}
                                    <li>{{ item|handle_markdown }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% else %}
                        {{ block }}
                    {% endif %}
                {% endfor %}
            </div>
        </article>
        <section class="Comments">
            <h1 class="Comments-label">{% trans "" %}Comments</h1>
            {% include "comments/comment_block.html" %}
        </section>
    </section>
{% endblock %}