{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <section class="Paper">
        <article class="Paper-body">
            <header class="Paper-header">
                {% if self.image %}
                    <div class="Paper-graphic">{% image self.image width-300 %}</div>
                {% endif %}
                <time class="Paper-dateline" datetime="2016-09-14" pubdate title="September 14, 2016">14 September
                    2016
                </time>
                <h1 class="Paper-headline">{{ self.title }}</h1>
                <span class="Paper-byline">by <a href="#" class="Paper-bylineAuthor" rel="author">Franz Kafka</a></span>
                <p class="Paper-lead">{{ self.subtitle }}</p>
            </header>
            <div class="Paper-copy">
                {% for block in self.body %}
                    {% if block.block_type == "heading" %}
                        <h2>{{ block.value }}</h2>
                    {% elif block.block_type == "image" %}
                        <figure>
                            {% image block.value %}
                            <figcaption>{{ block.value.title }}</figcaption>
                        </figure>
                    {% elif block.block_type == "numbered_list" %}
                        <ul>
                            {% for item in block.value %}
                                <li>{{ item|handle_markdown }}</li>
                            {% endfor %}
                        </ul>
                    {% elif block.block_type == "list" %}
                        <ul>
                            {% for item in block.value %}
                                <li>{{ item|handle_markdown }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {{ block }}
                    {% endif %}
                {% endfor %}
            </div>
        </article>
        {% include "comments/comment_block.html" %}
    </section>
{% endblock %}