{% load i18n %}

<header class="Navbar">
    <a class="Navbar-logo" href="/">
        <span class="Navbar-logoIcon Icons icon-logo" aria-hidden="true"></span>
        <span class="u-screenReaderText">{% trans "Nurse Connect Logo" %}</span>
    </a>
    {% if user.is_authenticated %}
        <nav class="Navbar-navigation">
            <ul class="Navbar-linkList">
                <li class="Navbar-item">
                    <a class="Navbar-link" href="{% url "search" %}">
                        <span class="Icons icon-search-orangeBittersweet"></span>
                        <span class="u-screenReaderText">{% trans "Search" %}</span>
                    </a>
                </li>
                <li class="Navbar-item">
                    <a class="Navbar-link" href="{% url "molo.profiles:view_my_profile" %}">
                        <span class="Icons icon-profile-orangeBittersweet"></span>
                        <span class="u-screenReaderText">{% trans "Profile" %}</span>
                    </a>
                </li>
                <li class="Navbar-item">
                    <a class="Navbar-link" href="#menu">
                        <span class="Icons icon-burger-orangeBittersweet"></span>
                        <span class="u-screenReaderText">{% trans "Menu" %}</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
</header>