{% load wagtailcore_tags compress static wagtailuserbar core_tags i18n %}
{% load wagtailsettings_tags wagtailimages_tags %}
{% get_settings %}

{% if user.is_authenticated %}
    <header class="SiteHead">
        <div class="SiteHead-brand">
            <a href="{% url "home" %}" class="Logo Logo--siteHead">
                <img src="{% static 'images/logo.png' %}" alt="NurseConnect Logo" class="Logo-graphic">
            </a>
        </div>
        <div class="SiteHead-actions" role="navigation">
            <nav class="NavBar NavBar--siteHead" role="menubar">
                <ul class="NavBar-navGroup" role="menu">
                    <li class="NavBar-navItem{% if active == "menu" %} NavBar-navItem--active{% endif %}"
                        role="presentation">
                        <a href="{% url "menu" %}" class="NavBar-navLink" role="menuitem">{% trans "Menu" %}</a>
                    </li>
                    <li class="NavBar-navItem{% if active == "profile" %} NavBar-navItem--active{% endif %}" role="presentation">
                        <a href="{% url "view_my_profile" %}" class="NavBar-navLink"
                           role="menuitem">{% trans "Profile" %}</a>
                    </li>
                    <li class="NavBar-navItem{% if active == "search" %} NavBar-navItem--active{% endif %}" role="presentation">
                        <a href="{% url "search" %}" class="NavBar-navLink" role="menuitem">{% trans "Search" %}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
{% endif %}
