{% extends "base.html" %}

{% load static core_tags i18n competition_tag %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="HeroTout">
            <h1 class="HeroTout-headline">
                Workplace support </br> in the palm of your hands.
            </h1>
        </div>
        {% bannerpages %}
        {% latest_listing_homepage num_count=6 %}
        {% your_words_competition %}
        {% section_listing_homepage %}
    {% else %}
        {% include "core/home_page_before_login.html" %}
    {% endif %}
{% endblock %}
