{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <div class="ListTitle">
        <h1 class="ListTitle-name">{{ self.title }}</h1>
    </div>
    {% load_child_sections_for_section self as sections %}

    {% for section in sections %}
        <section class="ContentList ContentList--bgTertiary">
        <header class="ContentList-header">
            <h1 class="ContentList-categoryLabel">{{ section.title }}</h1>
        </header>
        <div class="ContentList-body">
            <article class="Article">
                <a href="{% pageurl section %}" class="Article-hitBox">
                    <h2 class="Article-headline">{{ section.title }}</h2>
                </a>
            </article>
        </div>
    {% endfor %}
{% load_child_articles_for_section self as articles %}
{% for article in articles %}
    <ul class="ListView">
        <li class="ListItemWrapper">
            <a class="ListItem ListItem--withImage" href="{% pageurl article %}">
                <h3 class="ListItem-title">{{ article.title }}</h3>
                {% if article.image %}
                    <a class="ListItem-image" href="{% pageurl article %}">{% image article.image width-60 %}</a>
                {% endif %}
            </a>
        </li>
    </ul>
{% endfor %}
</section>

    {% if articles %}
        {% if articles_paginated.has_previous %}
            <li class="Breadcrumb-item Breadcrumb-item--active">
                <a class="Breadcrumb-link" href="?p={{ articles_paginated.previous_page_number }}"></a>
            </li>
        {% endif %}
        <span class="Breadcrumb-item Breadcrumb-item--active">
            Page {{ articles_paginated.number }} of {{ articles_paginated.paginator.num_pages }}
        </span>
        {% if articles_paginated.has_next %}
            <li class="Breadcrumb-item Breadcrumb-item--active">
                <a class="Breadcrumb-link" href="?p={{ articles_paginated.next_page_number }}">&rarr;</a>
            </li>
        {% endif %}
    {% endif %}
{% endblock %}
