{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load comments mptt_tags molo_commenting_tags i18n %}
{% load nurseconnect_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    {% load_child_sections_for_section self as sections %}

    {% for section in sections %}
        <section class="ContentList ContentList--bgTertiary">
            <header class="ContentList-header">
                <h1 class="ContentList-categoryLabel">{{ section.title }}</h1>
            </header>

            {% load_child_articles_for_section section as articles %}
            <div class="ContentList-body">
                {% for article in articles %}
                    <article class="Article">
                        <a href="{% pageurl article %}" class="Article-hitBox">
                            {% if article.image %}
                                <img class="Article-image Article-image--aside">{% image article.image width-100 %}</img>
                            {% endif %}
                            <h2 class="Article-headline">{{ article.title }}</h2>
                            <p class="Article-strapline">{{ article.subtitle }}</p>
                        </a>
                    </article>
                {% endfor %}
            </div>
            <footer class="ContentList-actions">
                <a href="{% pageurl section %}" class="Button Button--blue">View more articles about Sub-category</a>
            </footer>
        </section>
    {% endfor %}

    {% load_child_articles_for_section self as articles %}

    <div class="ContentList-body">
        {% for article in articles %}
            <article class="Article">
                <a href="{% pageurl article %}" class="Article-hitBox">
                    {% if article.image %}
                        <img class="Article-image Article-image--aside">{% image article.image width-100 %}</img>
                    {% endif %}
                    <h2 class="Article-headline">{{ article.title }}</h2>
                    <p class="Article-strapline">{{ article.subtitle }}</p>
                    {% get_comment_count for article as comment_count %}
                    Comments: {{ comment_count }}
                </a>
            </article>
        {% endfor %}
    </div>

    {% if articles %}
        <aside class="ContentBody-secondaryNav">
            <nav class="Pagination" role="navigation">
                <ul class="Pagination-bar" role="menubar" aria-labelledby="pagination-label">
                    {% if articles_paginated.has_previous %}
                        <li class="Pagination-item Pagination-item--prev" role="presentation">
                            <a class="Pagination-link" role="menuitem"
                               href="?p={{ articles_paginated.previous_page_number }}">Prev</a>
                        </li>
                    {% endif %}
                    <span class="Pagination-label"
                          id="pagination-label">Page {{ articles_paginated.number }} of {{ articles_paginated.paginator.num_pages }}
                    </span>
                    {% if articles_paginated.has_next %}
                        <li class="Pagination-item Pagination-item--next" role="presentation">
                            <a class="Pagination-link" role="menuitem"
                               href="?p={{ articles_paginated.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </aside>
    {% endif %}
{% endblock %}
