{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
{#    {% if self.image %}#}
{#        <a href="{% pageurl self %}">{% image self.image width-60 %}</a>#}
{#    {% endif %}#}
    <div class="ListTitle">
        <h1 class="ListTitle-name">{{ self.title }}</h1>
    </div>
    {% load_child_sections_for_section self as sections %}
    <ul class="ListView">
        {% for section in sections %}
            <li class="ListItemWrapper">
                {% if section.image %}
                    <a href="{% pageurl section %}">{% image section.image width-60 %}</a>
                {% endif %}
                <a href="{% pageurl section %}" class="ListItem ListItem--rightIcon">
                    <h3 class="ListItem-title">{{ section.title }}</h3>
                    <span class="ListItem-iconRight Icons icon-chevron_right-bluePelorous"></span>
                </a>
                {#          <ul class="list-block">#}
                {#            <li>#}
                {#              {% if section.description %}<p>{{section.description}}</p>{% endif %}#}
                {#              {% load_descendant_articles_for_section section featured_in_section=True as featured_articles %}#}
                {#              {% if featured_articles %}#}
                {#              {% for article in featured_articles %}#}
                {#                <h3><a href="{% pageurl article %}">{{article.title}}</a></h3>#}
                {#                <p>{{article.subtitle}}</p>#}
                {#              {% endfor %}#}
                {#              {% endif %}#}
                {#            </li>#}
                {#          </ul>#}
            </li>
        {% endfor %}
    </ul>
    <ul class="Breadcrumb-back">
        <li class="Breadcrumb-item">
            <a class="Breadcrumb-link">
                <span class="Breadcrumb-backIcon"><</span>
            </a>
        </li>

            <li class="Breadcrumb-item Breadcrumb-item--active"><a class="Breadcrumb-link" href={{ self.get_parent.url }}>Back</a>
{#                {% breadcrumbs %}#}
        </li>
    </ul>

    {% load_child_articles_for_section self as articles %}
    {% for article in articles %}
        <ul class="ListView">
            <li class="ListItemWrapper">
                <a class="ListItem ListItem--withImage" href="{% pageurl article %}">
                    <h3 class="ListItem-title">{{ article.title }}</h3>
                    <h4 class="ListItem-subtitle">{{ article.subtitle }}</h4>
                    <p class="ListItem-desc">{{ article.description }}</p>
                    {% if article.image %}
                        <a class="ListItem-image" href="{% pageurl article %}">{% image article.image width-60 %}</a>
                    {% endif %}
                </a>
            </li>
        </ul>
    {% endfor %}

    {% if articles %}
        <ul class="Breadcrumb-back">
            <li class="Breadcrumb-item">
                <a class="Breadcrumb-link">
                    <span class="Breadcrumb-backIcon"><</span>
                </a>
            </li>
            {% if articles_paginated.has_previous %}
                <li class="Breadcrumb-item Breadcrumb-item--active">
                    <a class="Breadcrumb-link" href="?p={{ articles_paginated.previous_page_number }}">&larr;</a>
                </li>
            {% endif %}
            <span class="Breadcrumb-item Breadcrumb-item--active">
                Page {{ articles_paginated.number }} of {{ articles_paginated.paginator.num_pages }}
            </span>
            {% if articles_paginated.has_next %}
                <li class="Breadcrumb-item Breadcrumb-item--active">
                    <a class="Breadcrumb-link" href="?p={{ articles_paginated.next_page_number }}">&rarr;</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}

