{% load i18n %}

<div class="ArticleActions">
    <a class="ArticleActions-title" href="#">Share</a>
    <a class="PillButton PillButton--blue" href="#">{% trans "Share on WhatsApp" %}</a>
    <a class="PillButton PillButton--blue" href="#">{% trans "Share on Facebook" %}</a>
    <a class="ArticleActions-title" href="#">{% trans "Save" %}</a>
    <a class="PillButton PillButton--blue" href="#">{% trans "Download as PDF" %}</a>
    <a class="PillButton PillButton--blue" href="#">{% trans "Bookmark this Page" %}</a>
</div>