.Login {
    padding-top: $global-padding * 2;
    padding-bottom: $global-padding * 2;
    text-align: center;

    .icon-logo {
        display: inline-block;
        width: 280px;
        height: 79px;
        margin-bottom: $global-padding;
        background-size: 100%;
    }

    .FormGroup {

        &--padded {
            padding-right: $global-padding;
            padding-left: $global-padding;
        }

        &--bordered {
            border-top: 1px solid $color-white;
        }
    }

}
