{% load i18n %}

<div class="ArticleSearch" id="search">
    <form action="{% url "search_query" %}">
        <div class="ArticleSearch-fieldgroup">
            <input class="ArticleSearch-field" type="text" name="search" value="{{ search_query }}"
                   placeholder="{% trans "Looking for something?" %}">
            <button type="submit" class="ArticleSearch-button" value="{% trans "SEARCH" %}">
                <span class="Icons icon-search-white"></span>
            </button>
        </div>
    </form>
</div>