{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {% if search_results %}
        <div class="HeroTout">
            <h1 class="HeroTout-headline">Your search results for <strong>{{ search_query }}</strong></h1>
        </div>
    {% else %}
        <div class="HeroTout">
            <h1 class="HeroTout-headline">What are you looking for?</h1>
        </div>
    {% endif %}
    {% include "search/search_block.html" %}
    {% if search_results %}
        {% include "search/search_results.html" %}
    {% elif not search_results and searched or search_query == "" %}
        <div class="Message Message--inpage Message--centered">
            {% if search_query == "" %}
                <p class="Message-caption">{% trans "No results found for " %}<strong>""</strong></p>
            {% else %}
                <p class="Message-caption">{% trans "No results found for " %}<strong>{{ search_query }}.</strong></p>
            {% endif %}
        </div>
    {% endif %}
    <section class="ContentList ContentList--bgTertiary">
        <header class="ContentList-header">
            <h1 class="ContentList-categoryLabel">Quick Links</h1>
        </header>
        <div class="ContentList-body">
            <nav class="Menu" role="menubar">
                <ul class="Menu-navGroup Menu-navGroup--lvl1" role="menu">
                    <li class="Menu-navItem" role="presentation">
                        <a href="" class="Menu-navLink" role="menuitem">Lorem ipsum</a>
                    </li>
                    <li class="Menu-navItem" role="presentation">
                        <a href="" class="Menu-navLink" role="menuitem">Lorem ipsum</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

    <section class="ContentList ContentList--bgTertiary">
        <header class="ContentList-header">
            <h1 class="ContentList-categoryLabel">Popular Searches</h1>
        </header>
        <div class="ContentList-body">
            <nav class="Menu" role="menubar">
                <ul class="Menu-navGroup Menu-navGroup--lvl1" role="menu">
                    <li class="Menu-navItem" role="presentation">
                        <a href="" class="Menu-navLink" role="menuitem">Lorem ipsum</a>
                    </li>
                    <li class="Menu-navItem" role="presentation">
                        <a href="" class="Menu-navLink" role="menuitem">Lorem ipsum</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
{% endblock %}
