.Navbar {
    // @TODO: Refactor this to use the @at-root directive as soon
    // as a fix becomes available.
    $scoped-block-name: unquote("#{&}");

    padding: .5rem;

    &-logo {
        display: inline-block;
        position: relative;
        width: 35%;
        height: 2.75rem;
        max-width: 9.5rem;
        max-height: 2.75rem;
        padding: .5rem 0;

        @include breakpoint($bp-smart) {
            width: 50%;
            padding: .5rem;
        }
    }

    &-logoIcon {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        margin: auto 0;
        //padding-bottom technique, aspect ration fix
        padding-bottom: 28.33333333%;
    }

    &-item {
        display: inline-block;
    }

    &-navigation {
        float: right;
    }

    &-linkList {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    &-link {
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        padding: .5rem;
    }
}
