// ==========================================
// >> ROOT STYLES
// ==========================================
// ** :root Base Styles.
// ==========================================
//    :root refers to the first parent element
//    in the DOM tree. (as in, the html tag).

// ==========================================
// ** CSS Browser Normalization
// ==========================================
@import url("../../node_modules/sanitize.css/sanitize.css");
// ==========================================

:root,
html {
    font-family: $font-light;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

body {
    background-color: $color-blue-tranquil;
    color: $color-blue-regal;
}

// img {
//     display: block;
//     max-width: 100%;
// }



.clear {
    clear: both;
}

button,
a,
input {
    text-decoration: none;
    cursor: pointer;
}
