{% load wagtailcore_tags compress static wagtailuserbar core_tags i18n %}
{% load wagtailsettings_tags wagtailimages_tags %}
{% get_settings %}

{% include "includes/organisms/site-head.html" %}
<main class="ContentBody" role="main">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque officia eius, vel! Explicabo neque, maiores in modi commodi, sequi unde consequuntur dolore eos minus quis cupiditate voluptatibus earum, architecto itaque officiis nisi blanditiis, omnis! Facere, repellendus expedita, odit dignissimos numquam impedit dolorum repellat hic sint. Optio architecto, perferendis officia quaerat.
</main>
{% include "includes/organisms/site-footer.html" %}
