{% include "includes/organisms/site-head.html" %}
<main class="ContentBody" role="main">
    {% include "includes/organisms/hero-tout.html" %}
    <section class="ContentList ContentList--bgTertiary">
        <header class="ContentList-header">
            <h1 class="ContentList-categoryLabel">Sub-category 1</h1>
        </header>
        <div class="ContentList-body">
            <article class="Article">
                <a href="#1" class="Article-hitBox">
                    <img class="Article-image Article-image--aside" src="http://www.placehold.it/100x100" alt="Image Alt Text">
                    <h2 class="Article-headline">Lorem ipsum dolor</h2>
                    <p class="Article-strapline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, nemo.</p>
                </a>
            </article>
        </div>
        <footer class="ContentList-actions">
            <a href="#" class="Button Button--blue">View more articles about Sub-category</a>
        </footer>
    </section>
    <section class="ContentList ContentList--bgTertiary">
        <header class="ContentList-header">
            <h1 class="ContentList-categoryLabel">Sub-category 2</h1>
        </header>
        <div class="ContentList-body">
            <article class="Article">
                <a href="#1" class="Article-hitBox">
                    <img class="Article-image Article-image--aside" src="http://www.placehold.it/100x100" alt="Image Alt Text">
                    <h2 class="Article-headline">Lorem ipsum dolor</h2>
                    <p class="Article-strapline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, nemo.</p>
                </a>
            </article>
            <article class="Article">
                <a href="#1" class="Article-hitBox">
                    <img class="Article-image Article-image--aside" src="http://www.placehold.it/100x100" alt="Image Alt Text">
                    <h2 class="Article-headline">Lorem ipsum dolor</h2>
                    <p class="Article-strapline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, nemo.</p>
                </a>
            </article>
            <article class="Article">
                <a href="#1" class="Article-hitBox">
                    <img class="Article-image Article-image--aside" src="http://www.placehold.it/100x100" alt="Image Alt Text">
                    <h2 class="Article-headline">Lorem ipsum dolor</h2>
                    <p class="Article-strapline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, nemo.</p>
                </a>
            </article>
        </div>
        <footer class="ContentList-actions">
            <a href="#" class="Button Button--blue">View more articles about Sub-category</a>
        </footer>
    </section>
    <section class="ContentList ContentList--bgTertiary">
        <header class="ContentList-header">
            <h1 class="ContentList-categoryLabel">Sub-category 3</h1>
        </header>
        <div class="ContentList-body">
            <article class="Article">
                <a href="#1" class="Article-hitBox">
                    <img class="Article-image Article-image--aside" src="http://www.placehold.it/100x100" alt="Image Alt Text">
                    <h2 class="Article-headline">Lorem ipsum dolor</h2>
                    <p class="Article-strapline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, nemo.</p>
                </a>
            </article>
            <article class="Article">
                <a href="#1" class="Article-hitBox">
                    <img class="Article-image Article-image--aside" src="http://www.placehold.it/100x100" alt="Image Alt Text">
                    <h2 class="Article-headline">Lorem ipsum dolor</h2>
                    <p class="Article-strapline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, nemo.</p>
                </a>
            </article>
            <article class="Article">
                <a href="#1" class="Article-hitBox">
                    <img class="Article-image Article-image--aside" src="http://www.placehold.it/100x100" alt="Image Alt Text">
                    <h2 class="Article-headline">Lorem ipsum dolor</h2>
                    <p class="Article-strapline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, nemo.</p>
                </a>
            </article>
        </div>
        <footer class="ContentList-actions">
            <a href="#" class="Button Button--blue">View more articles about Sub-category</a>
        </footer>
    </section>
    <aside class="ContentBody-secondaryNav">
        <a href="#" class="Button">Load more article categories</a>
    </aside>
</main>
{% include "includes/organisms/site-footer.html" %}
