{% include "includes/organisms/site-head.html" %}
<main class="ContentBody" role="main">
    {% include "includes/organisms/hero-tout.html" %}
    <nav class="Menu Menu--highContrast" role="menubar">
        <ul class="Menu-navGroup Menu-navGroup--lvl1" role="menu">
            <li class="Menu-navItem" role="presentation">
                <a href="" class="Menu-navLink" role="menuitem">
                    <img src="http://www.placehold.it/100x100" alt="" class="Menu-navIcon">
                    Lorem ipsum
                </a>
            <li class="Menu-navItem" role="presentation">
                <a href="" class="Menu-navLink" role="menuitem">
                    <img src="http://www.placehold.it/100x100" alt="" class="Menu-navIcon">
                    Lorem ipsum
                </a>
            <li class="Menu-navItem" role="presentation">
                <a href="" class="Menu-navLink" role="menuitem">
                    <img src="http://www.placehold.it/100x100" alt="" class="Menu-navIcon">
                    Lorem ipsum
                </a>
            </li>
        </ul>
    </nav>
</main>
{% include "includes/organisms/site-footer.html" %}
