{% include "includes/organisms/site-head.html" %}
<main class="ContentBody" role="main">
    {% include "includes/organisms/hero-tout.html" %}
    {% include "includes/molecules/search.html" %}

    <section class="ContentList ContentList--bgTertiary">
        <header class="ContentList-header">
            <h1 class="ContentList-categoryLabel">Quick Links</h1>
        </header>
        <div class="ContentList-body">
            <nav class="Menu" role="menubar">
                <ul class="Menu-navGroup Menu-navGroup--lvl1" role="menu">
                    <li class="Menu-navItem" role="presentation">
                        <a href="" class="Menu-navLink" role="menuitem">Lorem ipsum</a>
                    </li>
                    <li class="Menu-navItem" role="presentation">
                        <a href="" class="Menu-navLink" role="menuitem">Lorem ipsum</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="ContentList ContentList--bgTertiary">
        <header class="ContentList-header">
            <h1 class="ContentList-categoryLabel">Popular Searches</h1>
        </header>
        <div class="ContentList-body">
            <nav class="Menu" role="menubar">
                <ul class="Menu-navGroup Menu-navGroup--lvl1" role="menu">
                    <li class="Menu-navItem" role="presentation">
                        <a href="" class="Menu-navLink" role="menuitem">Lorem ipsum</a>
                    </li>
                    <li class="Menu-navItem" role="presentation">
                        <a href="" class="Menu-navLink" role="menuitem">Lorem ipsum</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</main>
{% include "includes/organisms/site-footer.html" %}
