.NavBar {
    $block: unquote("#{&}");

    &-navGroup {
        @include no-list;
    }

    &-navItem {
        display: inline-block;
        padding: 0 scale(alpha);
        zoom: 1;
    }

    &-navLink {
        color: $color-blue-pelorous;
        font-weight: 600;
        text-decoration: none;
    }
}
