.ContentList {
    $block: unquote("#{&}");

    background-color: $color-white;

    & + & {
        border-top: 1px solid $color-blue-regal;
        border-top: 1px solid rgba($color-blue-regal, .1);
    }

    &--bgSecondary {
        background-color: $color-blue-spindle;
    }

    &--bgTertiary {
        background-color: $color-blue-tranquil;
    }


    &-header {
        padding: scale(alpha);
        background-color: inherit;
    }

    &-categoryLabel {
        margin: 0;
        color: $color-orange-bittersweet;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
    }

    &-body {

    }

    &-actions {
        padding: scale(alpha);
    }
}
