.Paper {
    $block: unquote("#{&}");

    &-header {
        padding: scale(alpha);
        background-color: $color-blue-spindle;
        border-bottom: $color-blue-tranquil;
    }

    &-graphic {
        width: 100%;
        height: auto;
        margin-bottom: scale(alpha);
    }

    &-headline {
        margin: scale(alpha) 0;
        color: $color-blue-pelorous;
        font-weight: 400;
        line-height: 1.25;
    }

    &-dateline {
        color: $color-orange-bittersweet;
        font-weight: 600;
        text-transform: uppercase;
    }

    &-byline {
        font-weight: 300;
    }

    &-lead {
        margin: scale(alpha) 0 0;
        font-weight: 300;
    }

    &-copy {
        padding: scale(alpha);
        background-color: $color-white;
        font-weight: 300;

        p {
            margin: scale(alpha) 0;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        b,
        strong {
            font-weight: 600;
        }

        a {
            color: $color-orange-bittersweet;
            font-weight: 600;
        }

        blockquote {
            width: 100%;
            margin: auto;
            padding: scale(alpha);
            color: $color-grey-nero;
            font-family: serif;
            font-size: scale(beta);
            font-style: italic;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: scale(gamma) 0 scale(alpha);
            color: $color-grey-nero;
            font-weight: 400;
            line-height: 1.25;
        }

        h1 {
            font-size: scale(delta);
        }

        h2 {
            font-size: scale(gamma);
        }

        h3 {
            font-size: scale(beta);
        }

        h4 {
            font-size: scale(beta);
            font-weight: 400;
            text-transform: uppercase;
        }

        h5 {
            font-size: scale(beta);
            font-style: italic;
            font-weight: 400;
            text-transform: uppercase;
        }

        ul,
        ol {
            margin: scale(alpha) 0;
            padding: 0 0 0 1em;
        }

        figure {
            width: 100%;
            margin: scale(alpha) auto;
            padding: 0 scale(alpha);

            img {
                max-width: 100%;
                height: auto;
                margin: 0 auto;
            }
        }

        figcaption {
            padding: 0 scale(alpha);
            font-family: serif;
            font-weight: 600;
            text-align: center;
        }
    }
}
