{% load wagtailcore_tags compress static wagtailuserbar core_tags i18n %}
{% load wagtailsettings_tags wagtailimages_tags %}
{% get_settings %}

<nav class="NavBar NavBar--siteFooter" role="menubar">
    <ul class="NavBar-navGroup" role="menu">
        <li class="NavBar-navItem" role="presentation">
            <a href="" class="NavBar-navLink" role="menuitem">About</a>
        </li>
        <li class="NavBar-navItem" role="presentation">
            <a href="" class="NavBar-navLink" role="menuitem">Terms</a>
        </li>
        <li class="NavBar-navItem" role="presentation">
            <a href="" class="NavBar-navLink" role="menuitem">Rules</a>
        </li>
    </ul>
</nav>
