
{% load wagtailcore_tags i18n %}

{% if ancestors %}
{#  <h4>#}
    <ul class="Breadcrumb">
        <li class="Breadcrumb-item"><a class="Breadcrumb-link" href="#">{% trans "Home" %}
        <span class="Breadcrumb-nextIcon">></span>
        </a></li>
        {% for ancestor in ancestors %}
          {% if forloop.last %}
            <span class="active">{{ ancestor }}</span>
              <li class="Breadcrumb-item Breadcrumb-item--active"><a class="Breadcrumb-link" href="#">{{ ancestor }}</a>
            </li>
          {% else %}
            <span><a href="{% pageurl ancestor %}">{{ ancestor }}</a></span>
              <li class="Breadcrumb-item"><a class="Breadcrumb-link" href="{% pageurl ancestor %}">{{ ancestor }}
                <span class="Breadcrumb-nextIcon">></span></a>
              </li>
          {% endif %}
        {% endfor %}
        <ul class="Breadcrumb-back">
            <li class="Breadcrumb-item"><a class="Breadcrumb-link" href="#">
                <span class="Breadcrumb-backIcon"><</span>
            </a></li>
            <li class="Breadcrumb-item Breadcrumb-item--active"><a class="Breadcrumb-link" href="#">{% trans "back" %}</a>
            </li>
        </ul>
    </ul>
{#  </h4>#}
{% endif %}