{% load wagtailcore_tags wagtailimages_tags i18n %}
{% load comments mptt_tags molo_commenting_tags %}

{% if articles %}
    <section class="ContentList">
        <header class="ContentList-header">
            <h1 class="ContentList-categoryLabel">{% trans "Latest Articles" %}</h1>
        </header>
        <div class="ContentList-body">
            {% for article in articles %}
                <article class="Article {% if forloop.counter == 1 %} Article--featured {% endif %}">
                    <a href="{% pageurl article %}" class="Article-hitBox">

                        {% if article.image %}
                            <img class="Article-image {% if forloop.counter == 1 %} Article-image--prominent {% else %} Article-image--aside {% endif %}">{% image self.image width-300 %}</img>
                        {% endif %}

                        <h2 class="Article-headline">{{ article.title }}</h2>
                        <p class="Article-strapline">{{ article.subtitle }}</p>

                        <ul class="Article-actions">
                            <li class="Article-actionsItem">
                                {% get_comment_count for article as comment_count %}
                                Comments: {{ comment_count }}
                            </li>
                        </ul>
                    </a>
                </article>
            {% endfor %}
        </div>
    </section>
{% endif %}
