{% load wagtailcore_tags wagtailimages_tags i18n %}

{% if articles %}
    <section class="ContentList">
        <header class="ContentList-header">
            <h1 class="ContentList-categoryLabel">{% trans "Latest Articles" %}</h1>
        </header>
        <div class="ContentList-body">
            {% for article in articles %}
                <article class="Article Article--featured">
                    <a href="{% pageurl article %}" class="Article-hitBox">
                        {% if article.image %}
                            <div class="Article-image Article-image--prominent">{% image self.image width-300 %}</div>
                        {% endif %}
                        <h2 class="Article-headline">{{ article.title }}</h2>
                        <p class="Article-strapline">{{ article.subtitle }}</p>
                    </a>
                </article>
            {% endfor %}
        </div>
    </section>
{% endif %}
