{% load wagtailcore_tags wagtailimages_tags i18n %}

{% if articles %}
    <div class="ListTitle">
        <h2 class="ListTitle-name">{% trans "Latest articles" %}</h2>
    </div>
        <ul class="ListView">
        {% for article in articles %}
            <li class="ListItemWrapper">
                <h3 class="ListItem-title"><a href="{% pageurl article %}">{{ article.title }}</a></h3>
                {% if article.image %}
                    <a class="ListItem ListItem--withImage" href="{% pageurl article %}">{% image article.image width-60 %}</a>
                {% endif %}
                <p class="ListItem-desc">{{ article.subtitle }}</p>
                <span class="ListItem-image Icons icon-clinic-blueRegal"></span>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endif %}

