{% load wagtailcore_tags wagtailimages_tags core_tags i18n %}

{% if sections %}
    <section class="ContentList">
        <header class="ContentList-header">
            <h1 class="ContentList-categoryLabel">{% trans "Categories" %}</h1>
        </header>
        <div class="ContentList-body">
            <nav class="Menu" role="menubar">
                <ul class="Menu-navGroup Menu-navGroup--lvl1" role="menu">
                    <li class="Menu-navItem" role="presentation">
                        {% for section in sections %}
                            {% if not section.show_in_menus %}
                                <li class="ListItemWrapper--menu">
                                    <a href="{% pageurl section %}" class="Menu-navLink"
                                       role="menuitem">{{ section.title }}</a>
                                    {% load_descendant_articles_for_section section count=2 featured_in_homepage=True as featured_articles %}
                                    <ul class="Menu-navGroup Menu-navGroup--lvl2" role="menu">
                                        {% for article in featured_articles %}
                                            <li class="Menu-navItem" role="presentation">
                                                <a class="Menu-navLink" role="menuitem" href="{% pageurl article %}">
                                                <span class="Menu-contentTout">
                                                    <span class="Menu-contentToutHeadline">{{ article.title }}</span>
                                                    <span class="Menu-contentToutStrapline">{{ article.subtitle }}</span>
                                                </span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </li>
                </ul>
            </nav>
        </div>
    </section>
{% endif %}