{% extends "base.html" %}
{% load i18n static core_tags wagtailsettings_tags %}
{% get_settings %}


{% block content %}
    <form method="post" action=".">{% csrf_token %}
        <div class="FormGroup FormGroup--padded">
            {% if form.errors %}
                <p class="error errorlist">{% trans "Your mobile number and password does not match. Please try again." %}</p>
            {% endif %}
            <div class="FormField FormField--center FormField--bordered">
                <p><strong>{% trans "Username" %}</strong></p>
                {{ form.username }}
            </div>
            <div class="FormField FormField--center FormField--bordered">
                <p><strong>{% trans "4-digit pin" %}</strong></p>
                {{ form.password }}
            </div>
            <div class="FormGroup FormGroup--padded">
                <input type="submit" value="{% trans 'Log in' %}">
                <input type="hidden" name="next" value="{% if request.GET.next %}{{ request.GET.next }}{% else %}{{ request.site.root_page.url }}{% endif %}"/>
            </div>
            <div class="FormGroup FormGroup--padded FormGroup--bordered">
                <a class="PillButton PillButton--orange"
                   href="{% url "molo.profiles:user_register" %}">{% trans "sign up" %}</a>
            </div>
        </div>
    </form>
{% endblock %}