{% extends "base.html" %}
{% load i18n static core_tags wagtailsettings_tags %}
{% get_settings %}


{% block content %}
    <section action="" class="Splash">
        <div class="Splash-header">
            <img src="{% static 'images/logo.png' %}" alt="NurseConnect Logo" class="Logo-graphic">
        </div>
        <div class="Splash-body">
            <h1 class="Splash-headline">{% trans "Welcome back. Please enter your login details." %}</h1>
        </div>
        <div class="Splash-body">
            <form method="POST" action="." class="Form">
                {% csrf_token %}
                <fieldset class="Form-fieldGroup">
                    {% if form.errors %}
                        <p class="error errorlist">{% trans "Your mobile number and password does not match. Please try again." %}</p>
                    {% endif %}
                    <div class="Form-field Form-field--required">
                        <label for="mobilenum" class="Form-fieldLabel">Mobile Number</label>
                        <input name="username" type="tel" id="mobilenum" class="Form-input" placeholder="eg. 0821234567">
                        {{ form.username.errors }}
                    </div>
                    <div class="Form-field Form-field--required">
                        <label for="mobilenum" class="Form-fieldLabel">Password</label>
                        <input name="password" type="password" id="pword" class="Form-input" placeholder="Enter password">
                        {{ form.password.errors }}
                    </div>
                </fieldset>
                <div class="Splash-actions">
                    <ul class="ButtonGroup">
                        <li class="ButtonGroup-item">
                            <button type="submit" class="Button">{% trans "login" %}</button>
                            <input type="hidden" name="next" value="{% if request.GET.next %}{{ request.GET.next }}{% else %}{{ request.site.root_page.url }}{% endif %}"/>
                        </li>
                        <li class="ButtonGroup-item">
                            <div class="Message Message--subtle Message--centered">
                                <p class="Message-caption">
                                    {% trans "Don't have an account? Sign up" %} <a href="{% url "user_register" %}">{% trans "here" %}</a>
                                </p>
                                 <a href="{% url "forgot_password" %}" class="Link">{% trans "Forgot password?" %}</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </section>
{% endblock %}