{% extends "base.html" %}
{% load i18n static core_tags wagtailsettings_tags %}
{% get_settings %}


{% block content %}
    <div class="Article-body">
        <h1 class="Article-title">Welcome back. Please enter your login details.</h1>
    </div>
    <form method="post" action=".">{% csrf_token %}
        <div class="FormGroup FormGroup--padded">
            {% if form.errors %}
                <p class="error errorlist">{% trans "Your mobile number and password does not match. Please try again." %}</p>
            {% endif %}
            <div class="FormField FormField--center FormField--bordered">
                {{ form.username.error }}
                {{ form.username.label }}
                {{ form.username }}
            </div>
            <div class="FormField FormField--center FormField--bordered">
                {{ form.password.error }}
                {{ form.password.label }}
                {{ form.password }}
            </div>
            <div class="FormGroup FormGroup--padded">
                <button type="submit" class="PillButton PillButton--blue">log in</button>
                <input type="hidden" name="next" value="{% if request.GET.next %}{{ request.GET.next }}{% else %}{{ request.site.root_page.url }}{% endif %}"/>
            </div>
            <div class="FormGroup FormGroup--padded FormGroup--bordered">
                <a class="PillButton PillButton--orange"
                   href="{% url "user_register" %}">{% trans "sign up" %}</a>
            </div>
            <a href="#"
               class="Link">{% trans "Forgotten your password?" %}</a>
        </div>
    </form>
{% endblock %}