<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Nurse Connect</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="css/normalize.css"> -->
        <link rel="stylesheet" href="/dist/css/styles.css">
        <!-- <script src="js/vendor/modernizr-2.8.3.min.js"></script> -->
    </head>
    <body>
        <!-- start content -->
        <a class="Link" href="#">Having trouble logging in?</a>
        <a class="PillButton PillButton--blue" href="#">log in</a>
        <a class="PillButton PillButton--orange" href="#">sign up</a>
        <button class="PillButton PillButton--blue" name="button">login</button>
        <button class="PillButton PillButton--orange" name="button">sign up</button>
        <!-- end content -->
    </body>
</html>
