<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Nurse Connect</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="css/normalize.css"> -->
        <link rel="stylesheet" href="/dist/css/styles.css">
        <!-- <script src="js/vendor/modernizr-2.8.3.min.js"></script> -->
    </head>
    <body>
        <!-- start content -->
        <div class="FormField FormField--center FormField--bordered">
            <input class="FormField-input" type="text" name="btn1" value="" placeholder="Name and Surname">
        </div>
        <div class="FormField FormField--left FormField--bordered">
            <label class="FormField-label" for="btn1">Label title</label>
            <input class="FormField-input" type="text" name="btn1" value="" placeholder="Name and Surname">
        </div>
        <div class="FormField FormField--left">
            <label class="FormField-label" for="btn1">Label title</label>
            <textarea class="FormField-textarea" name="textarea" rows="10" cols="50">Write something here</textarea>
        </div>
        <div class="Radio">
            <input class="Radio-input" id="swatch1" name="colors" type="radio" value="x">
            <label class="Radio-label" for="swatch1" title="swatch1">
                <span class="Radio-radioBox">
                    <i class="Radio-ticked"></i>
                </span>
                test
            </label>
        </div>
        <div class="Radio">
            <input class="Radio-input" id="swatch2" name="colors" type="radio" value="x">
            <label class="Radio-label" for="swatch2" title="swatch1">
                <span class="Radio-radioBox">
                    <i class="Radio-ticked"></i>
                </span>
                test
            </label>
        </div>
        <div class="FormField FormField--left">
        </div>
        <!-- end content -->
    </body>
</html>
