<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Nurse Connect</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="css/normalize.css"> -->
        <link rel="stylesheet" href="/dist/css/styles.css">
        <!-- <script src="js/vendor/modernizr-2.8.3.min.js"></script> -->
    </head>
    <body>
        <!-- start content -->
        <div class="FormField">
            <input class="FormField-input" type="text" name="btn1" value="" placeholder="Name and Surname">
            <label class="FormField-label" for="btn1"></label>
        </div>
        <!-- end content -->
    </body>
</html>
