{% extends "base-styleguide.html" %}

{% block content %}
<h1>Organisms</h1>
<hr>

<h2>Site Header</h2>
<div class="sg-pattern">
    {% include "includes/organisms/site-head.html" %}
</div>

<h2>Site Footer</h2>
<div class="sg-pattern">
    {% include "includes/organisms/site-footer.html" %}
</div>

<h2>Hero Tout</h2>
<div class="sg-pattern">
    {% include "includes/organisms/hero-tout.html" %}
</div>

<h2>Form</h2>
<div class="sg-pattern">
    {% include "includes/organisms/form.html" %}
</div>

{% endblock %}
