{% extends "base-styleguide.html" %}

{% block content %}
{% include "includes/sg-styles.html" %}

<h1>Templates</h1>
<hr>

<h2>App Shell</h2>
<p>Site wrapper with no content.</p>
<div class="sg-pattern">
    {% include "includes/templates/app-shell.html" %}
</div>

<h2>Homepage</h2>
<div class="sg-pattern">
    {% include "includes/templates/homepage.html" %}
</div>

<h2>Menu Page</h2>
<div class="sg-pattern">
    {% include "includes/templates/menu.html" %}
</div>

<h2>Category Page</h2>
<div class="sg-pattern">
    {% include "includes/templates/category-page.html" %}
</div>

<h2>Sub-category Page</h2>
<div class="sg-pattern">
    {% include "includes/templates/subcategory-page.html" %}
</div>


<h2>Article Page</h2>
<div class="sg-pattern">
    {% include "includes/templates/article-page.html" %}
</div>


{% endblock %}
