.Article {

    &-fullWidthImage {
        width: 100%;
        display: block;
    }

    &-body {
        padding-top: $global-padding / 2;
        padding-right: $global-padding;
        padding-left: $global-padding;
        padding-bottom: $global-padding / 2;
    }

}
