.ArticleSearch {
	padding-top: $global-padding / 2;
	padding-right: $global-padding;
	padding-bottom: $global-padding / 2;
	padding-left: $global-padding;
	background-color: $color-blue-spindle;

	&-fieldgroup {
		margin: 1rem 0;

		&::after {
			display: block;
			width: 100%;
			clear: both;
			content: "";
		}
	}

	&-field {
		width: 80%;
		height: 3rem;
		padding: 1rem 8rem 1rem 1rem;
		float: left;
		border-radius: 2rem 0 0 2rem;
		background-color: $color-white;
		font-size: 1rem;
		line-height: 1rem;
	}

	&-button {
		display: block;
		width: 20%;
		height: 3rem;
		padding: .73rem;
		float: left;
        border-radius: 0 2rem 2rem 0;
		background-color: $color-blue-pelorous;
	}

	.icon-search-white {
        width: 1.5rem;
		height: 1.5rem;
		margin: 0;
		padding: 0;
	}

}
