
/* =============================================================================================
    SITE
=============================================================================================*/

	body {
		background:#dae8eb;

	}
	h2	{
		color: #ff6655;
	}
	img {
		padding: 10% 0% -30% 0%;

	}