.FormField {
    display: block;
    width: 100%;
    padding-right: .5rem;
    padding-left: .5rem;

    &--vanilla {
        padding-right: 0;
        padding-left: 0;
    }

    &--center {

        //text-align: center;
        text-align: center;
        padding-top: .75rem;
        padding-bottom: .75rem;
    }

    &--left {
        padding-top: .4rem;
        padding-bottom: .4rem;
    }

    &--bordered {
        border-bottom: 1px solid $color-white;
    }

    &-label {
        display: block;
        margin-top: .4rem;
        font-size: 1.25rem;
        text-align: inherit;
    }

    &-input {
        @include placeholder {
            color: $color-blue-pelorous;
        }

        display: block;
        width: 100%;
        color: $color-blue-pelorous;
        font-size: 14px;
        font-weight: 400; //TODO: fix when fonts are updated
        text-align: inherit;
    }

    &-textarea {
        display: block;
        max-width: 100%;
        min-height: 1.5rem;
        margin-top: .75rem;
        background: $color-white;
        color: $color-blue-pelorous;
        font-size: 14px;
        font-weight: 100; //TODO: fix when fonts are updated
        resize: none;

    }

    &-radio {

    }

    [disabled] {
        &::placeholder {
            color: $color-grey-light-slate;
        }
    }
}
