.ListView {
    // @TODO: Refactor this to use the @at-root directive as soon
    // as a fix becomes available.
    $scoped-block-name: unquote("#{&}");

    margin: 0;
    padding: 0;
    list-style: none;
}

.ListTitle {
    display: block;
    position: relative;
    padding-top: 1rem;
    padding-right: .5rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border-bottom: 1px solid $color-white;

    &-name {
        margin: 0;
        color: $color-orange-bittersweet;
        font-size: .75rem;
        text-transform: uppercase;
    }

    &-grouping {
        margin: 0;
        color: $color-blue-regal;
        font-size: 1.25rem;
        font-weight: 400;
    }

    &--highlight {
        background-color: $color-blue-spindle;
    }
}



.ListItem {
    // @TODO: Refactor this to use the @at-root directive as soon
    // as a fix becomes available.
    $scoped-block-name: unquote("#{&}");

    display: block;
    position: relative;
    padding-top: 1rem;
    padding-right: .5rem;
    padding-bottom: 1rem;
    padding-left: 1rem;

    & + & {
        border-top: 1px solid $color-white;
    }

    &--leftIcon {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        padding-left: 3.75rem;
    }

    &--rightIcon {
        padding-right: 3.75rem;
    }

    &--withImage {
        padding-right: 5rem;
    }

    &--withImageLarge {
        padding-right: 7rem;
    }

    &--highlight {
        background-color: $color-blue-spindle;
    }

    &-title {
        display: inline-block;
        margin: 0;
        color: $color-blue-pelorous;
        font-size: 1.25rem;
        font-weight: 400;

        &--bold {
            font-weight: 600;
        }
    }

    &-subtitle {
        margin-top: .25rem;
        margin-bottom: 0;
        padding-right: .75rem;
        color: $color-orange-bittersweet;
        font-size: .75rem;
        text-transform: uppercase;
    }

    &-timeStamp {
        float: left;
        margin: 0;
        padding-right: .75rem;
        color: $color-orange-bittersweet;
        font-size: .75rem;
        text-transform: uppercase;
    }

    &-desc {
        margin: 0;
        color: $color-grey-light-slate;
        font-size: .75rem;

        &--oneLine {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        &--icon {
            position: relative;
            padding-left: 1.5rem;
        }
    }

    &-descIcon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 1rem;
        height: 1rem;
        margin: auto 0;
        padding: 0;
    }

    &-statsItem {
        display: inline-block;
        padding-top: .5rem;
        padding-right: .5rem;
    }

    &-statsIcon {
        width: 1rem;
        height: 1rem;
    }

    &-statsNumber {
        display: inline-block;
        color: $color-grey-light-slate;
        font-size: .75rem;
        vertical-align: top;
    }

    &-image {
        position: absolute;
        top: 0;
        right: 1rem;
        bottom: 0;
        width: 3rem;
        height: 3rem;
        margin: auto 0;
        padding: 0;
        border-radius: 5px;

        &--large {
            width: 5rem;
            height: 5rem;
        }
    }

    &-iconRight,
    &-iconLeft {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1.75rem;
        height: 1.75rem;
        margin: auto 0;
        padding: 0;
    }

    &-iconLeft {
        left: 1rem;
        width: 1.5rem;
    }

    &-iconRight {
        right: 1rem;
    }

}

