.OnOffSwitch {
    position: relative;
    width: 60px;
    user-select: none;

    &-checkbox {
        display: none;
    }

    &-label {
        display: block;
        border: 2px solid #ffffff;
        border-radius: 20px;
        cursor: pointer;
        overflow: hidden;
    }

    &-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }

    &-inner:before,
    &-inner:after {
        display: block;
        width: 50%;
        height: 25px;
        padding: 0;
        float: left;
        line-height: 25px;
        box-sizing: border-box;
    }

    &-inner:before {
        padding-left: 0;
        background-color: #ffffff;
        color: #ffffff;
        content: "";
    }

    &-inner:after {
        padding-right: 0;
        background-color: #ffffff;
        color: #ffffff;
        text-align: right;
        content: "";
    }

    &-switch {
        display: block;
        position: absolute;
        top: 0;
        right: 30px;
        bottom: 0;
        width: 31px;
        margin: -0.5px;
        transition: all 0.3s ease-in 0s;
        border: 2px solid #2d9ec5;
        border-radius: 20px;
        background: #2d9ec5;
    }

    &-checkbox:checked + &-label &-inner {
        margin-left: 0;
    }

    &-checkbox:checked + &-label &-switch {
        right: 0;
    }

}
