.Profile {
    // @TODO: Refactor this to use the @at-root directive as soon
    // as a fix becomes available.
    $scoped-block-name: unquote("#{&}");

    @include clearfix;
    position: relative;
    margin: 1rem;
    padding: 1rem;
    border-radius: .25rem;
    background-color: $color-white;

    &-imageWrapper {
        display: inline-block;
        width: 25%;
        max-width: 150px;
    }

    &-imageContainer {
        display: block;
        position: relative;
        height: 0;
        padding-bottom: 100%;
        border-radius: 50%;
        overflow: hidden;

        #{$scoped-block-name}-image {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &-msg {
        @include breakpoint($bp-smart) {
            padding-right: 1rem;
        }

        width: 75%;
        padding-top: .5rem;
        padding-top: 5%;
        padding-left: 1rem;
        float: right;
    }

    &-title {
        display: block;
        font-size: 1.25rem;
        font-weight: 400;
    }

    &-progressLink {
        display: block;
        margin-top: .25rem;
        color: $color-blue-pelorous;
        font-size: .75rem;
    }
}
