.Profile {
    // @TODO: Refactor this to use the @at-root directive as soon
    // as a fix becomes available.
    $scoped-block-name: unquote("#{&}");

    padding: 1rem;
    &-number {
        font-size: 2rem;
        weight: 600;
    }
}
