.Radio {
    // @TODO: Refactor this to use the @at-root directive as soon
    // as a fix becomes available.
    $scoped-block-name: unquote("#{&}");

    display: block;
    width: 100%;
    margin-top: .75rem;

    &-label {
        display: block;
        position: relative;
        margin-top: .4rem;
        color: $color-grey-light-slate;
        font-weight: 100;
        text-align: inherit;

    }

    &-radioBox {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 1.25rem;
        height: 1.25rem;
        margin: auto;
        margin-left: .5rem;
        border: 1px solid $color-blue-regal;
        border-radius: 50%;
    }

    &-input {
        // active state for checkbox
        &:checked + #{$scoped-block-name}-label {
            #{$scoped-block-name}-radioBox {
                #{$scoped-block-name}-ticked {
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 15%;
                    width: .75rem;
                    height: .75rem;
                    margin: auto;
                    border-radius: 50%;
                    background-color: $color-blue-regal;
                }
            }
        }

        width: 2.5rem;
        float: left;
        opacity: 0;
    }
}
