// ==========================================
// >> ROOT STYLES
// ==========================================
// ** :root Base Styles.
// ==========================================
//    :root refers to the first parent element
//    in the DOM tree. (as in, the html tag).

// ==========================================
// ** CSS Browser Normalization
// ==========================================
@import url("../../node_modules/sanitize.css/sanitize.css");
// ==========================================

:root,
html {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;

    //@include breakpoint($bp-iota) {
    //    font-size: 16px;
    //}
    //
    //@include breakpoint($bp-zeta) {
    //    font-size: 18px;
    //}
    //
    //@include breakpoint($bp-eta) {
    //    font-size: 20px;
    //}
    //
    //@include breakpoint($bp-omega) {
    //    font-size: 22px;
    //}

    //// LazySizes noscript normalisation.
    //&.no-js {
    //    img {
    //        &.lazyload {
    //            display: none;
    //        }
    //    }
    //}
}

body {
    background-color: $color-blue-tranquil;
    color: $color-blue-regal;
}

// img {
//     display: block;
//     max-width: 100%;
// }

.clear {
    clear: both;
}

button,
a,
input {
    cursor: pointer;
}
