.SelectBox {
    //height:
    //padding: 0;
    //margin: 0;

    &-label {
        display: block;
        width: 100%;
        margin-left: .5rem;
        padding-top: .5rem;
        font-size: 1.25rem;
    }

    &-wrapper {
        display: block;
        width: 100%;
        border-bottom: 1px solid $color-white;
        background: no-repeat 98.5% center;
        background: no-repeat right .5rem center;
        background-size: 1rem 1rem;
        color: $color-blue-pelorous;
        overflow: hidden;
    }

    &-select {
        width: 115%;
        height: 2rem;
        border: 0;
        background: transparent;
        font-size: 14px;
    }

    &--centered {
        text-align: center;
    }
}
