//@font-face {
//    font-family: "Telkom123-Regular";
//    src: url("../fonts/telkom123/Telkom123-Regular.eot");
//    src: url("../fonts/telkom123/Telkom123-Regular.eot?#iefix") format("embedded-opentype"),
//         url("../fonts/telkom123/Telkom123-Regular.woff") format("woff"),
//         url("../fonts/telkom123/Telkom123-Regular.ttf") format("truetype"),
//         url("../fonts/telkom123/Telkom123-Regular.svg#Telkom123-Regular") format("svg");
//    font-weight: normal;
//    font-style: normal;
//}

h1 {
    font-size: 2rem;
    line-height: 2rem;
}

h2 {
    font-size: 1.75rem;
    line-height: 1.8rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.6rem;
}

h4 {
    font-size: 1.25rem;
    line-height: 1.4rem;
}

h5 {
    font-size: 1rem;
    line-height: 1.2rem;
}

h6 {
    font-size: .75rem;
    line-height: 1rem;
}
