.ArticleActions {
	padding-top: $global-padding / 2;
    padding-right: $global-padding;
    padding-bottom: $global-padding / 2;
    padding-left: $global-padding;
    background-color: $color-blue-spindle;

	&-title {
	    display: block;
	    width: 100%;
	    margin-top: 1rem;
	    margin-bottom: 1rem;
	    color: $color-orange-bittersweet;
	    font-weight: 600; //TODO: refactor after adding proper fonts;
	    text-transform: uppercase;
	}

}
