.Menu {
    $block: unquote("#{&}");

    &-navGroup {
        @include no-list;

        & + & {
            margin-top: scale(delta);
        }

        &--lvl1 {
            font-size: scale(gamma);
            font-weight: 600;

            #{$block}-navLink {
                padding: scale(beta) scale(gamma);
            }
        }

        &--lvl2 {
            font-size: scale(beta);
            font-weight: 300;

            #{$block}-navLink {
                padding: scale(beta) 0;
            }

            #{$block}-navItem {
                padding: 0 scale(gamma);
            }
        }
    }

    &-navItem {

    }

    &-navLink {
        display: block;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        border-bottom: 1px solid $color-blue-regal;
        border-bottom: 1px solid rgba($color-blue-regal, .1);
        color: $color-blue-pelorous;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
            color: $color-orange-bittersweet;
        }
    }

    &-navIcon {
        @include clearfix;
        display: inline-block;
        max-width: scale(zeta);
        margin-right: scale(gamma);
        vertical-align: middle;

        &--after {
            margin-right: 0;
            margin-left: auto;
        }

        &--scaledToText {
            width: auto;
            height: 1em;
        }
    }

    &-contentTout {
        display: block;

        &Headline {
            display: block;
            font-weight: 600;
        }

        &Strapline {
            display: block;
            color: $color-blue-regal;
        }
    }

    // Menu Modifiers
    &--highContrast {
        #{$block}-navLink {
            border-color: $color-blue-spindle;
        }
    }
}
