// .Article {
//     // @TODO: Refactor this to use the @at-root directive as soon
//     // as a fix becomes available.
//     $scoped-block-name: unquote("#{&}");
//
//     &-fullWidthImage {
//         position: relative;
//         height: 0;
//         padding-bottom: 56.25%; // 16:9 ratio
//         overflow: hidden;
//
//         #{$scoped-block-name}-image {
//             position: absolute;
//             top: 0;
//             left: 0;
//             width: 100%;
//             height: 100%;
//         }
//     }
//
//     &-body {
//         padding-top: $global-padding / 2;
//         padding-right: $global-padding;
//         padding-bottom: $global-padding / 2;
//         padding-left: $global-padding;
//     }
//
//     &-title {
//         font-size: 2rem;
//         line-height: 2rem;
//     }
//
// }

.Article {
    $block: unquote("#{&}");

    @include clearfix;
    margin: scale(gamma);
    background-color: inherit;

    &:first-child {
        // Removes padding between article and orange category label.
        padding-top: 0;
    }

    & + & {
        padding-top: scale(gamma);
        border-top: 1px solid $color-blue-regal;
        border-top: 1px solid rgba($color-blue-regal, .1);
    }

    &--featured {
        font-size: 1.25rem;
        background-color: $color-white;
    }

    &--bgWhite {
        background-color: $color-white;
    }

    &--bgBlueTranquil {
        background-color: $color-blue-tranquil;
    }

    &-hitBox {
        display: block;
        text-decoration: none;
        cursor: pointer;
    }

    &-image {
        display: block;
        max-width: 100%;

        &--prominent {
            width: 100%;
            margin-bottom: scale(alpha);
        }

        &--aside {
            max-width: 25%;
            float: right;
        }
    }

    &-headline {
        margin: 0 0 scale(alpha);
        color: $color-blue-pelorous;
        font-size: 1.46em;
        font-weight: 400;
    }

    &-strapline {
        margin: 0;
        color: $color-blue-regal;
        font-size: 1em;
        font-weight: 300;
    }

    &-actions {
        margin-top: scale(beta);
    }
}
