.HeroTout {
    $block: unquote("#{&}");

    padding: scale(gamma);
    background-color: $color-blue-pelorous;
    color: $color-white;

    &-headline {
        margin: 0;
        font-size: scale(eta);
        font-weight: 400;
        line-height: 1.2;
    }

    &-actions {
        margin-top: scale(gamma);
    }
}
